@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import './styles/_products.css';
.App {
  text-align: center;
  background-color: #FDF1E9;
  color: #4B4F3F;
}

